<app-header></app-header>
  <div class="jumbotron">
      <div class="container text-center">
        <h1>Online Store</h1>      
        <p>Mission, Vission & Values</p>
      </div>
    </div>
<div class="container">    
    <div class="row">
      <div class="col-sm-4">
        <div class="card card-primary">
          <div class="card-header bg-info text-white">BLACK FRIDAY DEAL</div>
          <div class="card-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="card-footer">Buy 50 mobiles and get a gift card</div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card card-danger">
          <div class="card-header bg-info text-white">BLACK FRIDAY DEAL</div>
          <div class="card-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="card-footer">Buy 50 mobiles and get a gift card</div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card card-success">
          <div class="card-header bg-info text-white">BLACK FRIDAY DEAL</div>
          <div class="card-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="card-footer">Buy 50 mobiles and get a gift card</div>
        </div>
      </div>
    </div>
  </div><br>
  
  <div class="container">    
    <div class="row">
      <div class="col-sm-4">
        <div class="card card-primary">
          <div class="card-header bg-info text-white">BLACK FRIDAY DEAL</div>
          <div class="card-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="card-footer">Buy 50 mobiles and get a gift card</div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card card-primary ">
          <div class="card-header bg-info text-white">BLACK FRIDAY DEAL</div>
          <div class="card-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="card-footer">Buy 50 mobiles and get a gift card</div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="card card-primary ">
          <div class="card-header bg-info text-white">BLACK FRIDAY DEAL</div>
          <div class="card-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="card-footer">Buy 50 mobiles and get a gift card</div>
        </div>
      </div>
    </div>
  </div><br><br>