<app-header></app-header>

<div id="top" class="container" style="margin-bottom: 30px;margin-top:0px;height:300px">
  <div class="container text-center" style="padding-top:10%">
    <h1 class="top-text">Media Center</h1>
    <p class="top-text">Your unforgetable experiences are the best feedback for us</p>
  </div>
</div>
<div class="container" style="margin-top:10px">
<div class="row">
  <!-- column1 -->
  <div class="col-lg-3 col-md-3 col-12">
      <div class="card" style="margin-top:50px">
        <div class="card-header">
          <h5>Media Center</h5>
        </div>
        <div class="card-body">
            <a href="/about-us"><p>About BestTrip</p></a>
            <a href="/press"><p>Press</p></a>
            <a href="/content-integrity"><p>Content Integrity</p></a>
            <a href="/terms-of-use"><p>Terms of Use</p></a>
            <a href="/privacy-policy"><p>Privacy Policy</p></a>
        </div>
      </div>
  </div>
  <!-- column2 -->
  <div class="col-lg-9 col-md-9 col-12">
    <div>
      <h2>Content Integrity Policy</h2>
      <p class="bold">
          Our Approach to Content Integrity
      </p>
      <p>
          At TripAdvisor, we've created a community where members can read one another's travel reviews and plan and book their perfect trips. Once in a while, someone will try to game our system by attempting to post a fake review, so we thought it would be helpful to share our approach, our policies, and the actions we take to identify, block, and remove fraudulent reviews. Here's what we believe.
      </p>
      <p class="bold">
          We believe the best travel advice comes from other travelers.
      </p>
      <p>
          At TripAdvisor, our members can submit reviews of their experiences at hotels, restaurants, and attractions. Over the past 15 years, we have received more than 500 million reviews and opinions from our members, covering virtually every country in the world.
      </p>
      <p class="bold">
          We believe in "the right to write."
      </p>
      <p>
          The TripAdvisor community has a wealth of valuable experience, and every one of our 390 million monthly users should feel confident sharing their opinions. When you stay in a hotel or eat in a restaurant, you have a fundamental right to talk about that experience with others. We are immensely proud of the community we’ve built which helps customers do just that.
      </p>
      <p class="bold">
          We believe every experience counts, not just the ones where you paid the bill. If you have a party of 12 at a restaurant, we believe that all of them should have a voice. That's what TripAdvisor stands for.
      </p>
      <p>
          Because we believe in promoting personal experiences, we do not take lightly the decision to remove a review from our site. It might be easier to give in to censorship and remove reviews that a business owner disagrees with. But it goes against what we stand for, which is the right for genuine consumers to share their experiences.
      </p>
      <p>
          In keeping with this philosophy, while we do require reviewers to certify that they are reviewing their own experiences before they can submit their review to TripAdvisor, we don’t seek third-party verification.
      </p>
      <p class="bold">
          We believe that everyone should play by the same rules. Businesses are not able to influence TripAdvisor to improve their reviews, ratings or Traveler Ranking.
      </p>
      <p>
          We have unique processes for moderating the content submitted to TripAdvisor, as well as proprietary algorithms that calculate a business' daily rank within our Traveler Ranking. Those processes and algorithms are applied in the same way to all content, complaints and properties. We never have and never will give our advertisers or anyone else preferential treatment.
      </p>
      <p class="bold">
          We believe that businesses who don't play by the rules should be penalized.
      </p>
      <p>
          Businesses know that consumers rely heavily on reviews when making travel decisions. Unfortunately, we have seen over our 15 years that some unscrupulous businesses will try to cheat in order to attract more customers. We define “cheating” as positively reviewing their own business (or finding others to do so on their behalf) or negatively reviewing their competitors.
      </p>
      <p>
          These activities constitute fraud. Posting fake reviews violates the TripAdvisor Terms of Use, as well as unfair competition and/or consumer protection laws in many countries. We invest massive amounts of time, effort and money into identifying and blocking fraudulent activity on our site.
      </p>
      <p class="bold">
          For more information…
      </p>
      <p>
          Visit the TripAdvisor <a href="">Help Center.</a>
      </p>
    </div>
  </div>
</div>
</div>