<app-header></app-header>

<div id="top" class="container" style="margin-bottom: 0px;margin-top:0px;padding-bottom:0px;height:300px">
  <div class="container text-center" style="padding-top:10%">
    <h1 class="top-text">Help Center</h1>
  </div>
  
  <div class="search-wrapper container search-bar" style="margin-bottom:0;padding-bottom:0">
    <form role="search" method="get">
      <!-- <input name="utf8" type="hidden" value="&#x2713;" /> -->
      <input type="search" class="bg-info solid" placeholder="Search"/>
      <input type="submit" class="bg-info solid" value="" />
    </form>
</div>
</div>
<div style="margin-top:20px;margin-bottom:20px;padding-top:10px;padding-bottom:10px">
<div class="container" style="margin-top:40px">
  <div class="row">

    
    <div class="col-12 col-md-3">
        <a href="">
      <div class="card">
        <div class="card-header text-center" style="height:150px">
            <i class="fa fa-user text-info" aria-hidden="true" style="margin-top:15px;font-size:100px"></i>
        </div>
        <div class="card-body text-center">
          <p class="bold" style="margin-bottom:0px">Guidelines</p>
        </div>
      </div>
    </a>
    </div>
  
    
  
    <div class="col-12 col-md-3">
        <a href="">
        <div class="card">
          <div class="card-header text-center" style="height:150px">
              <i class="fa fa-star-o text-info" aria-hidden="true" style="margin-top:15px;font-size:100px"></i>
          </div>
          <div class="card-body text-center">
            <p class="bold" style="margin-bottom:0px">Site Features</p>
          </div>
        </div>
      </a>
      </div>
    

    
        <div class="col-12 col-md-3">
            <a href="">
            <div class="card">
              <div class="card-header text-center" style="height:150px">
                  <i class="fa fa-users text-info" aria-hidden="true" style="margin-top:15px;font-size:100px"></i>
              </div>
              <div class="card-body text-center">
                <p class="bold" style="margin-bottom:0px">Community</p>
              </div>
            </div>
          </a>
          </div>
        

        
            <div class="col-12 col-md-3">
                <a href="">
                <div class="card">
                  <div class="card-header text-center" style="height:150px">
                      <i class="fa fa-cogs text-info" aria-hidden="true" style="margin-top:15px;font-size:100px"></i>
                  </div>
                  <div class="card-body text-center">
                    <p class="bold" style="margin-bottom:0px">Technical Support</p>
                  </div>
                </div>
              </a>
              
            </div>
            
              

  </div>
  <hr>
  <div class="container" style="min-height:400px">
    <div class="">
      <h5>Popular Topics</h5>
    </div>
    <div class="row">
      
      <div class="col-12 col-md-6">
          <a href="">
        <div class="row">
          <div class="col-11" style="padding-right:1px">
              <p class="topic">BestTrip's content policy</p>
          </div>
          <div class="col-1" style="padding-left:1px">
            <P class="bold topic text-center" style="padding:0px">+</P>
          </div>
        </div>  
      </a>
      </div>
    
      <div class="col-12 col-md-6">
          <a href="">
        <div class="row">
          <div class="col-11" style="padding-right:1px">
              <p class="topic">Our guideline for Forum post </p>
          </div>
          <div class="col-1" style="padding-left:1px">
            <P class="bold topic text-center" style="padding:0px">+</P>
          </div>
        </div>  
      </a>
      </div>
      
      <div class="col-12 col-md-6">
          <a href="">
        <div class="row">
          <div class="col-11" style="padding-right:1px">
              <p class="topic">Our guideline for Forum post </p>
          </div>
          <div class="col-1" style="padding-left:1px">
            <P class="bold topic text-center" style="padding:0px">+</P>
          </div>
        </div>  
      </a>
      </div>



    </div>





  </div>
 </div> 
  </div>