<app-header></app-header>
<div class="jumbotron">
    <div class="container">
        <div class="hero-text">
            <h1>No Idea Where to?</h1>
            <p>Take Your Shot ^^</p>
            <form>
              <div class="form-check-inline">
                <label class="form-check-label" for="domestic">
                  <input type="radio" class="form-check-input" id="domestic" name="area" value="domestic" checked><span></span>Domestic
                </label>
              </div>
              <div class="form-check-inline">
                <label class="form-check-label" for="foreign">
                  <input type="radio" class="form-check-input" id="foreign" name="area" value="foreign"><span></span>Foreign
                </label>
              </div><br /><br />
              <button type="button" class="btn btn-info">Hit me!</button>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <!-- Nav pills -->
    <ul class="nav nav-pills nav-justified" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#landscape">LANDSCAPE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#atmosphere">ATMOSPHERE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#interest">INTEREST</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#tourist">TOURIST</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#month">MONTH</a>
      </li>
    </ul>
  
    <!-- Tab panes -->
    <div class="tab-content">
      <div id="landscape" class="container tab-pane active"><br>
        <div class="row card-columns">
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/punta_cana.jpg" alt="Punta Cana" style="width:100%">
                    <h4 class="card-title">Beach</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Punta Cana</a>
                    <a href="#" class="card-link text-info">Playa del Carmen</a>
                    <a href="#" class="card-link text-info">Cancun</a>
                    <a href="#" class="card-link text-info">Varadero</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/punta_cana.jpg" alt="Punta Cana" style="width:100%">
                    <h4 class="card-title">Beach</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Punta Cana</a>
                    <a href="#" class="card-link text-info">Playa del Carmen</a>
                    <a href="#" class="card-link text-info">Cancun</a>
                    <a href="#" class="card-link text-info">Varadero</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/punta_cana.jpg" alt="Punta Cana" style="width:100%">
                    <h4 class="card-title">Beach</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Punta Cana</a>
                    <a href="#" class="card-link text-info">Playa del Carmen</a>
                    <a href="#" class="card-link text-info">Cancun</a>
                    <a href="#" class="card-link text-info">Varadero</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/punta_cana.jpg" alt="Punta Cana" style="width:100%">
                    <h4 class="card-title">Beach</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Punta Cana</a>
                    <a href="#" class="card-link text-info">Playa del Carmen</a>
                    <a href="#" class="card-link text-info">Cancun</a>
                    <a href="#" class="card-link text-info">Varadero</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/punta_cana.jpg" alt="Punta Cana" style="width:100%">
                    <h4 class="card-title">Beach</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Punta Cana</a>
                    <a href="#" class="card-link text-info">Playa del Carmen</a>
                    <a href="#" class="card-link text-info">Cancun</a>
                    <a href="#" class="card-link text-info">Varadero</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/punta_cana.jpg" alt="Punta Cana" style="width:100%">
                    <h4 class="card-title">Beach</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Punta Cana</a>
                    <a href="#" class="card-link text-info">Playa del Carmen</a>
                    <a href="#" class="card-link text-info">Cancun</a>
                    <a href="#" class="card-link text-info">Varadero</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/punta_cana.jpg" alt="Punta Cana" style="width:100%">
                    <h4 class="card-title">Beach</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Punta Cana</a>
                    <a href="#" class="card-link text-info">Playa del Carmen</a>
                    <a href="#" class="card-link text-info">Cancun</a>
                    <a href="#" class="card-link text-info">Varadero</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/punta_cana.jpg" alt="Punta Cana" style="width:100%">
                    <h4 class="card-title">Beach</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Punta Cana</a>
                    <a href="#" class="card-link text-info">Playa del Carmen</a>
                    <a href="#" class="card-link text-info">Cancun</a>
                    <a href="#" class="card-link text-info">Varadero</a>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <div id="atmosphere" class="container tab-pane fade"><br>
        <div class="row card-columns">
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/paris.jpeg" alt="Paris" style="width:100%">
                    <h4 class="card-title">Romantic</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Paris</a>
                    <a href="#" class="card-link text-info">Puerto Vallarta</a>
                    <a href="#" class="card-link text-info">Venice</a>
                    <a href="#" class="card-link text-info">Palm - Eagle Beach</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/paris.jpeg" alt="Paris" style="width:100%">
                    <h4 class="card-title">Romantic</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Paris</a>
                    <a href="#" class="card-link text-info">Puerto Vallarta</a>
                    <a href="#" class="card-link text-info">Venice</a>
                    <a href="#" class="card-link text-info">Palm - Eagle Beach</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/paris.jpeg" alt="Paris" style="width:100%">
                    <h4 class="card-title">Romantic</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Paris</a>
                    <a href="#" class="card-link text-info">Puerto Vallarta</a>
                    <a href="#" class="card-link text-info">Venice</a>
                    <a href="#" class="card-link text-info">Palm - Eagle Beach</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/paris.jpeg" alt="Paris" style="width:100%">
                    <h4 class="card-title">Romantic</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Paris</a>
                    <a href="#" class="card-link text-info">Puerto Vallarta</a>
                    <a href="#" class="card-link text-info">Venice</a>
                    <a href="#" class="card-link text-info">Palm - Eagle Beach</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/paris.jpeg" alt="Paris" style="width:100%">
                    <h4 class="card-title">Romantic</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Paris</a>
                    <a href="#" class="card-link text-info">Puerto Vallarta</a>
                    <a href="#" class="card-link text-info">Venice</a>
                    <a href="#" class="card-link text-info">Palm - Eagle Beach</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/paris.jpeg" alt="Paris" style="width:100%">
                    <h4 class="card-title">Romantic</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Paris</a>
                    <a href="#" class="card-link text-info">Puerto Vallarta</a>
                    <a href="#" class="card-link text-info">Venice</a>
                    <a href="#" class="card-link text-info">Palm - Eagle Beach</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/paris.jpeg" alt="Paris" style="width:100%">
                    <h4 class="card-title">Romantic</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Paris</a>
                    <a href="#" class="card-link text-info">Puerto Vallarta</a>
                    <a href="#" class="card-link text-info">Venice</a>
                    <a href="#" class="card-link text-info">Palm - Eagle Beach</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/paris.jpeg" alt="Paris" style="width:100%">
                    <h4 class="card-title">Romantic</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Paris</a>
                    <a href="#" class="card-link text-info">Puerto Vallarta</a>
                    <a href="#" class="card-link text-info">Venice</a>
                    <a href="#" class="card-link text-info">Palm - Eagle Beach</a>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <div id="interest" class="container tab-pane fade"><br>
        <div class="row card-columns">
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/vatican_city.jpeg" alt="Vatican City" style="width:100%">
                    <h4 class="card-title">Art</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Vatican City</a>
                    <a href="#" class="card-link text-info">Paris</a>
                    <a href="#" class="card-link text-info">Florence</a>
                    <a href="#" class="card-link text-info">Amsterdam</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/vatican_city.jpeg" alt="Vatican City" style="width:100%">
                    <h4 class="card-title">Art</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Vatican City</a>
                    <a href="#" class="card-link text-info">Paris</a>
                    <a href="#" class="card-link text-info">Florence</a>
                    <a href="#" class="card-link text-info">Amsterdam</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/vatican_city.jpeg" alt="Vatican City" style="width:100%">
                    <h4 class="card-title">Art</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Vatican City</a>
                    <a href="#" class="card-link text-info">Paris</a>
                    <a href="#" class="card-link text-info">Florence</a>
                    <a href="#" class="card-link text-info">Amsterdam</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/vatican_city.jpeg" alt="Vatican City" style="width:100%">
                    <h4 class="card-title">Art</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Vatican City</a>
                    <a href="#" class="card-link text-info">Paris</a>
                    <a href="#" class="card-link text-info">Florence</a>
                    <a href="#" class="card-link text-info">Amsterdam</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/vatican_city.jpeg" alt="Vatican City" style="width:100%">
                    <h4 class="card-title">Art</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Vatican City</a>
                    <a href="#" class="card-link text-info">Paris</a>
                    <a href="#" class="card-link text-info">Florence</a>
                    <a href="#" class="card-link text-info">Amsterdam</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/vatican_city.jpeg" alt="Vatican City" style="width:100%">
                    <h4 class="card-title">Art</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Vatican City</a>
                    <a href="#" class="card-link text-info">Paris</a>
                    <a href="#" class="card-link text-info">Florence</a>
                    <a href="#" class="card-link text-info">Amsterdam</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/vatican_city.jpeg" alt="Vatican City" style="width:100%">
                    <h4 class="card-title">Art</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Vatican City</a>
                    <a href="#" class="card-link text-info">Paris</a>
                    <a href="#" class="card-link text-info">Florence</a>
                    <a href="#" class="card-link text-info">Amsterdam</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/vatican_city.jpeg" alt="Vatican City" style="width:100%">
                    <h4 class="card-title">Art</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Vatican City</a>
                    <a href="#" class="card-link text-info">Paris</a>
                    <a href="#" class="card-link text-info">Florence</a>
                    <a href="#" class="card-link text-info">Amsterdam</a>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <div id="tourist" class="container tab-pane fade"><br>
        <div class="row card-columns">
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/orlando.jpg" alt="Orlando" style="width:100%">
                    <h4 class="card-title">Family</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Orlando</a>
                    <a href="#" class="card-link text-info">Salou</a>
                    <a href="#" class="card-link text-info">Port d'Alcudia</a>
                    <a href="#" class="card-link text-info">Wisconsin Dells</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/orlando.jpg" alt="Orlando" style="width:100%">
                    <h4 class="card-title">Family</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Orlando</a>
                    <a href="#" class="card-link text-info">Salou</a>
                    <a href="#" class="card-link text-info">Port d'Alcudia</a>
                    <a href="#" class="card-link text-info">Wisconsin Dells</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/orlando.jpg" alt="Orlando" style="width:100%">
                    <h4 class="card-title">Family</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Orlando</a>
                    <a href="#" class="card-link text-info">Salou</a>
                    <a href="#" class="card-link text-info">Port d'Alcudia</a>
                    <a href="#" class="card-link text-info">Wisconsin Dells</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/orlando.jpg" alt="Orlando" style="width:100%">
                    <h4 class="card-title">Family</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Orlando</a>
                    <a href="#" class="card-link text-info">Salou</a>
                    <a href="#" class="card-link text-info">Port d'Alcudia</a>
                    <a href="#" class="card-link text-info">Wisconsin Dells</a>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <div id="month" class="container tab-pane fade"><br>
        <div class="row card-columns">
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/koh_samui.jpg" alt="Koh Samui" style="width:100%">
                    <h4 class="card-title">January</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Koh Samui</a>
                    <a href="#" class="card-link text-info">Barcelona</a>
                    <a href="#" class="card-link text-info">Singapore</a>
                    <a href="#" class="card-link text-info">Maldives</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/koh_samui.jpg" alt="Koh Samui" style="width:100%">
                    <h4 class="card-title">January</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Koh Samui</a>
                    <a href="#" class="card-link text-info">Barcelona</a>
                    <a href="#" class="card-link text-info">Singapore</a>
                    <a href="#" class="card-link text-info">Maldives</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/koh_samui.jpg" alt="Koh Samui" style="width:100%">
                    <h4 class="card-title">January</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Koh Samui</a>
                    <a href="#" class="card-link text-info">Barcelona</a>
                    <a href="#" class="card-link text-info">Singapore</a>
                    <a href="#" class="card-link text-info">Maldives</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/koh_samui.jpg" alt="Koh Samui" style="width:100%">
                    <h4 class="card-title">January</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Koh Samui</a>
                    <a href="#" class="card-link text-info">Barcelona</a>
                    <a href="#" class="card-link text-info">Singapore</a>
                    <a href="#" class="card-link text-info">Maldives</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/koh_samui.jpg" alt="Koh Samui" style="width:100%">
                    <h4 class="card-title">January</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Koh Samui</a>
                    <a href="#" class="card-link text-info">Barcelona</a>
                    <a href="#" class="card-link text-info">Singapore</a>
                    <a href="#" class="card-link text-info">Maldives</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/koh_samui.jpg" alt="Koh Samui" style="width:100%">
                    <h4 class="card-title">January</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Koh Samui</a>
                    <a href="#" class="card-link text-info">Barcelona</a>
                    <a href="#" class="card-link text-info">Singapore</a>
                    <a href="#" class="card-link text-info">Maldives</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/koh_samui.jpg" alt="Koh Samui" style="width:100%">
                    <h4 class="card-title">January</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Koh Samui</a>
                    <a href="#" class="card-link text-info">Barcelona</a>
                    <a href="#" class="card-link text-info">Singapore</a>
                    <a href="#" class="card-link text-info">Maldives</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/koh_samui.jpg" alt="Koh Samui" style="width:100%">
                    <h4 class="card-title">January</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Koh Samui</a>
                    <a href="#" class="card-link text-info">Barcelona</a>
                    <a href="#" class="card-link text-info">Singapore</a>
                    <a href="#" class="card-link text-info">Maldives</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/koh_samui.jpg" alt="Koh Samui" style="width:100%">
                    <h4 class="card-title">January</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Koh Samui</a>
                    <a href="#" class="card-link text-info">Barcelona</a>
                    <a href="#" class="card-link text-info">Singapore</a>
                    <a href="#" class="card-link text-info">Maldives</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/koh_samui.jpg" alt="Koh Samui" style="width:100%">
                    <h4 class="card-title">January</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Koh Samui</a>
                    <a href="#" class="card-link text-info">Barcelona</a>
                    <a href="#" class="card-link text-info">Singapore</a>
                    <a href="#" class="card-link text-info">Maldives</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/koh_samui.jpg" alt="Koh Samui" style="width:100%">
                    <h4 class="card-title">January</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Koh Samui</a>
                    <a href="#" class="card-link text-info">Barcelona</a>
                    <a href="#" class="card-link text-info">Singapore</a>
                    <a href="#" class="card-link text-info">Maldives</a>
                  </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="card">
                  <div class="card_img">
                    <img class="card-img-top" src="../../assets/image/koh_samui.jpg" alt="Koh Samui" style="width:100%">
                    <h4 class="card-title">January</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link text-info">Koh Samui</a>
                    <a href="#" class="card-link text-info">Barcelona</a>
                    <a href="#" class="card-link text-info">Singapore</a>
                    <a href="#" class="card-link text-info">Maldives</a>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>