<!-- Footer -->

<footer class="page-footer font-small blue pt-4" style="margin-top:0px">
    
  <div class="jumbotron" style="margin-top:0px;margin-bottom: 0px;padding-bottom: 10px">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
            <!-- Links -->
            <h5 class="text-uppercase">About BestTrip</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="/about-us">About Us</a>
              </li>
              <li>
                <a href="/press">Press</a>
              </li>
              <li>
                <a href="/career">Career</a>
              </li>
              <li>
                <a href="/content-integrity">Content Integrity</a>
              </li>
            </ul>
  
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
  
            <!-- Links -->
            <h5 class="text-uppercase">Explore</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!" data-toggle="modal" data-target="#modalSignUp" data-dismiss="modal">Join</a>
              </li>
              <li>
                  <a href="besttrip-store">BestTrip Store</a>
              </li>
              <li>
                <a href="/help-center">Help Center</a>
              </li>
            </ul>
  
          </div>
          <!-- Grid column -->
  <!-- Grid column -->
  <div class="col-md-6 mt-md-0 mt-3" style="border-left:1px solid rgb(193,193,193)">
    <!-- Content -->
    <h5 class="text-uppercase">Contact Infomation</h5>
    <p class="contactInfo">Contact us and we'll get back to you within 24 hours.</p>
        <p class="contactInfo"><i class="fa fa-address-card" aria-hidden="true"></i> 75 St.Alphonsus st,Roxbury Crossing,Boston</p>
        <p class="contactInfo"><i class="fa fa-phone" aria-hidden="true"></i> 100-100-1000</p>
        <p class="contactInfo"><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:xx.xxx@husky.neu.edu"> xx.xxx@husky.neu.edu</a></p> 
  </div>
  <!-- Grid column -->
      </div>
      <!-- Social Bar-->
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item"><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.google.com/"target="_blank"><i class="fa fa-google-plus"></i></a></li>
            <li class="list-inline-item"><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
          </ul>
        </div>
      </div>
  </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <!-- Copyright -->
    <hr>
  </div>

  <div class="footer-copyright">
    <div class="container">
      <a href="#"><i class="fa fa-ravelry" aria-hidden="true"></i> BestTrip<sup>®</sup> </a> All the trip you love
    </div>
    <div class="container text-left py-3">
      <p>© 2019 BestTrip<sup>®</sup> LLC All rights reserved. <a href="/terms-of-use">BestTrip<sup>®</sup>  Terms of Use </a>and <a href="/privacy-policy">Privacy Policy</a>.</p>
    </div>
  </div>
</footer>


