#videoDiv {
    width:100%;
    position: relative;
}

#videoBlock{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#videoMessage{
    width:100%;
    height: 100%;
    position:absolute;
    top: 40%;
    left: 0;
}

#videoMessage h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
    size: 2em;
    margin-left: auto;
    margin-right: auto;

}

#buttonGroup{
    border-radius: 5px;
    position: absolute;
    bottom: -30px;
    box-shadow: 0 10px 40px 0 black;
      
}



.card{
    margin-bottom:18px;
 }
 .column:nth-child(1){
     padding: 0 9px;
 }
 
 .column:nth-child(2){
     padding: 0 9px;
 }
 
 .column:nth-child(3){
     padding: 0 9px;
 }
 .card-header{
     height: 90px;
 }
 .card-head2{
     background-color:white;
     height: 80px;
 }
 .card-user{
     position:relative;
     top:20px; 
     left:-25px;
 }
 .avatar img{
     position: relative;
     top:-28px; 
     left:30px;   
 }
 .avatar a{
     color:black;
 }
 a :hover{
     text-decoration:none;
 }
 .avatar-tag,.avatar-tag ul li{
     color:black;
     font-size: 15px;
     font-weight:bold;
     margin-bottom: 5px;
 }
 .avatar-tag-num{
     color:gray;
     font-size: 15px;
     font-weight:bold;
     margin-bottom: 5px;
 }
 .avatar-tag-num2{
     color:black;
 }
 .avatar-tag-location{
     font-size: 16px;
     margin-bottom: 10px;
 }
 .avatar-tag-location-s{
     font-size: 12px;
     margin-bottom: 10px;
 }
 .userName{
     color:black;
     font-size: 14px;
     font-weight:bold;
     margin-bottom: 5px;
     margin-right:10px;
     
 }
 .userId,.date{
     color:grey;
     font-size: 14px;
     margin-bottom: 0;
 }
 
 #social-page{ 
    margin-top:40px;
   }
 .avatar2{
     height:70px
 }
 .avatar2 img{
     height:66px;
     width:66px;
 }
 .user-info2{
     color:grey;
     font-size: 14px;
     margin-bottom: 10px;
 }
 .text{
     font-size: 18px;
 }
 .follow-btn button{
     height:100%;
     width:100%;
     font-size:19px;
     margin-bottom: 0;
 }
 .text {
     margin-bottom: 10px;
 }
 .href{
     font-size:15px;
     color:rgb(75, 160, 181);
     margin-right: 20px;
     text-decoration: none;
 }
 .href :hover{
     color:rgb(47, 101, 114);
 }
 .share-area{
     background-color:rgb(250,250,250);
 }
 .underline{
     font-size:15px;
     color:grey;
     margin-left:10px;
     margin-right:10px;
 }
 a{
     color:grey;
 }
 a:hover{
 text-decoration: none;
 }
 .underline :hover{
     color:grey;
     text-decoration:underline;
 }
 
 .p{
     color:black;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space:nowrap;
    
 }
 /* img{
     max-width:100%;
     height:auto;
 } */
 @media only screen and (max-width: 768px){
     .column:nth-child(3){
         display:none;
     }
 }
 @media only screen and (max-width: 768px){
     #buttonGroup{
         display: none;
     }
 }
#intro ul{
    padding-left: 0px;
}

#intro ul li{
    list-style-type: none;
    padding-left: 3px;
}
#overview{
    padding: 5px;
    text-align: center;
    font-size: 1.3em;
    color: white;
    background-color: rgb(73, 160, 181);
    border-bottom: 2px solid black;
}

#attraction{
    padding: 5px;
    text-align: center;
    font-size: 1.3em;
    color: white;
    background-color: rgb(73, 160, 181);
    border-bottom: 2px solid black;
}

#attractionText ul li{ 
    padding-top: 5px;
    font-weight: bold;
}

#attractionText ul li a{
    color: white;
}

#attractionText ul li:nth-child(1){
    height:100px;
    background-image: url(../../assets/image/Christ.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#attractionText ul li:nth-child(2){
    height:100px;
    background-image: url(../../assets/image/Corcovado.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#attractionText ul li:nth-child(3){
    height:100px;
    background-image: url(../../assets/image/Copa.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#attractionText ul li:nth-child(4){
    height:100px;
    background-image: url(../../assets/image/Barra.png);
    background-size: cover;
    background-repeat: no-repeat;
}
/* #attractionText ul li */

#tg{
    padding: 5px;
    text-align: center;
    font-size: 1.3em;
    color: white;
    background-color: rgb(73, 160, 181);
    border-bottom: 2px solid black;
}

#budget{
    padding: 5px;
    text-align: center;
    font-size: 1.3em;
    color: white;
    background-color: rgb(73, 160, 181);
    border-bottom: 2px solid black;
}

#attractionText, #tgText, #budgetText, #ticketText{
    display:none;
}

#ticket{
    padding: 5px;
    text-align: center;
    font-size: 1.3em;
    color: white;
    background-color: rgb(73, 160, 181);
    border-bottom: 2px solid black;
}
.mysquare{
    position: relative;
    width:40%;
    padding-top:40%;
}
.avatar_box{ 
  top:0;
  position: absolute;
  height:100%;
  width:100%;
  border-radius: 50%;
  overflow: hidden;

  
}

.avatar_box label,img {
  height:100%;
  max-height:200px;
  width:auto;
  position:relative; 
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  transition:  .5 ease;
}
 .avatar_box label img:hover{
    opacity:0.3;
}
 .avatar_box:hover .middle-text{
  opacity:1;
}  