<app-header></app-header>
<div id="top" class="container" style="margin-bottom: 0px;margin-top:0px;padding-bottom:0px;height:300px">
  <div class="container text-left" style="padding-top:10%">
    <h5 class="top-text">Share the World you explored.​​​​​​</h5>
    <p class="top-text">Exceptional career opportunities. Smart and collaborative coworkers. Millions of people who love
      our sites. Find it all here at the world's largest travel site.</p>
  </div>
</div>

<div style="margin-top:0px;margin-bottom:0px;padding-top:10px;padding-bottom:10px;background-color: rgb(230, 230, 230)">
<div class="container" style="margin-top:10px">
  <div class="text-center">
    <h3 class="">Our Teams</h3>
  </div>
  <div class="row">
    <!-- card 1 -->

    <div class="col-lg-3 col-md-6 col-12">
      <a href="">
        <div class="card">
          <div class="card-header img-header">
            <img class="card-image-top" src="../../assets/image/sales.png" alt="" style="width:100%;">
          </div>
          <div class="card-body text-center" style="padding-top:5px;padding-bottom: 5px">
            <h6>Sales</h6>
            <p style="color:grey;margin-bottom:5px">87 Jobs</p>
          </div>
        </div>
      </a>
    </div>



    <div class="col-lg-3 col-md-6 col-12">
      <a href="">
        <div class="card">
          <div class="card-header img-header">
            <img class="card-image-top" src="../../assets/image/IT.jpg" alt="" style="width:100%;">
          </div>
          <div class="card-body text-center" style="padding-top:5px;padding-bottom: 5px">
            <h6>Engineering & IT</h6>
            <p style="color:grey;margin-bottom:5px">76 Jobs</p>
          </div>
        </div>
      </a>
    </div>



    <div class="col-lg-3 col-md-6 col-12">
      <a href="">
        <div class="card">
          <div class="card-header img-header">
            <img class="card-image-top" src="../../assets/image/creative.jpg" alt="" style="width:100%;">
          </div>
          <div class="card-body text-center" style="padding-top:5px;padding-bottom: 5px">
            <h6>Marketing & Creative</h6>
            <p style="color:grey;margin-bottom:5px">23 Jobs</p>
          </div>
        </div>
      </a>
    </div>




    <div class="col-lg-3 col-md-6 col-12">
      <a href="">
        <div class="card">
          <div class="card-header img-header">
            <img class="card-image-top" src="../../assets/image/CustSupport.jpg" alt="" style="width:100%;">
          </div>
          <div class="card-body text-center" style="padding-top:5px;padding-bottom: 5px">
            <h6>Customer Service</h6>
            <p style="color:grey;margin-bottom:5px">20 Jobs</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-6 col-12">
      <a href="">
        <div class="card">
          <div class="card-header img-header">
            <img class="card-image-top" src="../../assets/image/product-management.jpg" alt="" style="width:100%;">
          </div>
          <div class="card-body text-center" style="padding-top:5px;padding-bottom: 5px">
            <h6>Product Management</h6>
            <p style="color:grey;margin-bottom:5px">15 Jobs</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-6 col-12">
      <a href="">
        <div class="card">
          <div class="card-header img-header">
            <img class="card-image-top" src="../../assets/image/data.jpg" alt="" style="width:100%;">
          </div>
          <div class="card-body text-center" style="padding-top:5px;padding-bottom: 5px">
            <h6>Data Science & Analytics</h6>
            <p style="color:grey;margin-bottom:5px">10 Jobs</p>
          </div>
        </div>
      </a>
    </div>


    <div class="col-lg-3 col-md-6 col-12">
      <a href="">
        <div class="card">
          <div class="card-header img-header">
            <img class="card-image-top" src="../../assets/image/finance.jpg" alt="" style="width:100%;">
          </div>
          <div class="card-body text-center" style="padding-top:5px;padding-bottom: 5px">
            <h6>Finance & Accounting</h6>
            <p style="color:grey;margin-bottom:5px">6 Jobs</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-6 col-12 ">
      <a href="">
        <div class="card">
          <div class="card-header img-header">
            <img class="card-image-top" src="../../assets/image/legal.jpg" alt="" style="width:100%;">
          </div>
          <div class="card-body text-center" style="padding-top:5px;padding-bottom: 5px">
            <h6>Legal</h6>
            <p style="color:grey;margin-bottom:5px">4 Jobs</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-6 col-12 hide-card">
      <a href="">
        <div class="card">
          <div class="card-header img-header">
            <img class="card-image-top" src="../../assets/image/legal.jpg" alt="" style="width:100%;">
          </div>
          <div class="card-body text-center" style="padding-top:5px;padding-bottom: 5px">
            <h6>Campus</h6>
            <p style="color:grey;margin-bottom:5px">6 Jobs</p>
          </div>
        </div>
      </a>
    </div>


    <div class="col-lg-3 col-md-6 col-12 hide-card">
      <a href="">
        <div class="card">
          <div class="card-header img-header">
            <img class="card-image-top" src="../../assets/image/legal.jpg" alt="" style="width:100%;">
          </div>
          <div class="card-body text-center" style="padding-top:5px;padding-bottom: 5px">
            <h6>Others</h6>
            <p style="color:grey;margin-bottom:5px">8 Jobs</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="text-center">
    <a href="javascript:void(0)" id="moreTeams" class="" (click)="moreTeams()">More Teams</a>
  </div>
</div>
</div>

<div class="container" style="margin-top:0px;margin-bottom:0px;padding-top:20px;padding-bottom:10px">
  <div class="text-center">
    <h4>Explore Opportunities Near You</h4>
  </div>

  <a href="">
  <div class="row">
    <div class="col-9">
      <p class="text-info" style="margin-bottom:1px">Software Engineer II - Experiences</p>
      <p>Boston, MA | Engineering & IT</p>
    </div>
    <div class="col-3 text-right">
      <br>
      <p style="font-size:14px;color:grey">Apply Now</p>
    </div>
  </div>
  </a>
  <hr>

  <a href="">
      <div class="row">
        <div class="col-9">
          <p class="text-info" style="margin-bottom:1px">Software Engineer II - Experiences</p>
          <p>Boston, MA | Engineering & IT</p>
        </div>
        <div class="col-3 text-right">
          <br>
          <p style="font-size:14px;color:grey">Apply Now</p>
        </div>
      </div>
      </a>
      <hr>

      <a href="">
          <div class="row">
            <div class="col-9">
              <p class="text-info" style="margin-bottom:1px">Software Engineer II - Experiences</p>
              <p>Boston, MA | Engineering & IT</p>
            </div>
            <div class="col-3 text-right">
              <br>
              <p style="font-size:14px;color:grey">Apply Now</p>
            </div>
          </div>
          </a>
          <hr>

          <a href="">
              <div class="row">
                <div class="col-9">
                  <p class="text-info" style="margin-bottom:1px">Software Engineer II - Experiences</p>
                  <p>Boston, MA | Engineering & IT</p>
                </div>
                <div class="col-3 text-right">
                  <br>
                  <p style="font-size:14px;color:grey">Apply Now</p>
                </div>
              </div>
              </a>
          


</div>